<%- include("header")  -%>

<div class="box" id="heading">
  <h1><%= listTitle %> </h1>

  <form class="item" action="/" method="POST">
     <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
     <button type="submit" name="list">+</button>
  </form>
  <% include("footer") %> 